div {
	background-color: #905;
	position: sticky;
	top: 0;
	z-index: 3;
	/* //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	width: 100%;
	border-radius: 5px;

}

.titlebartext {
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
	font-family: Rubik, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: none;
	color:white;
	display: inline-block;
}

.buttons{
	display: inline-block;
  box-shadow:none;
}
